:root{
  --bg-color: #E7EFF6;
  --border-color: #BCD3E5;
  --text-color: #2c3e50;
  --error-bg-color: #fdeded;
  --error-text-color: #5f2120;
  --box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
* {
  box-sizing: border-box;
}

/* Fade animation */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

@keyframes skeleton-pulse {
  0% {
    background-color: #94A3B8;
  }
  50% {
    background-color: #e2e5e7;
  }
  100% {
    background-color: #94A3B8;
  }
}